@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.warehouses {
    &-list {
        width: 100%;

        &-container {
            width: 80%;
        }

        &__tablet {
            display: none;

            @include tablet {
                @include row;
                width: 100%;
                justify-content: space-between;
            }
            &-label {
                @include row;
                @include tablet__tablehead;
                color: $Slate;
            }
            &-sort {
                padding: 0 0 0 .25rem;
            }
        }
        &__items {
            width: 50%;

            @include tablet {
                @include row;
                justify-content: space-between;
            }

            &-left {
                @include tablet {
                    width: 44%;
                    max-width: 38vh;
                }

            }
            &-right {
                @include tablet {
                    width: 50%;
                    max-width: 41.5vh;
                }
            }
        }
        &__item {
            @include column;
            &-eq {
                @include column;
                border-bottom: $Cloud .08rem solid;
                width: 111.2%;
                padding: 0 0 1.4rem;
            }
            &-container {
                @include column;

                @include tablet {
                    @include row;
                    justify-content: space-between;
                    width: 89%;
                }
            }
            &-core {
                @include row;
                align-items: flex-start;
                padding: 1rem 0 0;
                width: 92%;

                @include tablet {
                    width: 85%;
                    justify-content: space-between;
                    align-items: center;
                    max-width: 91vh;
                }

                @include desktop {
                    background-color: gray;
                }
            }
            &-detail {
                @include tablet {
                    width: fit-content;
                }

                &-label {
                    @include mobile__tablehead;
                    color: $Slate;
                    margin: 0;

                    @include tablet {
                        display: none;
                    }
                }
                &-value {
                    @include mobile__body--med;
                    font-weight: 400;
                    color: $Instock-Black;
                    @include column;
                    align-items: flex-start;
                    margin: 0;
                    padding: .2rem 0 .8rem;

                    @include tablet {
                        align-items: center;
                        text-align: start;
                        @include tablet__body--med;
                    }
                    &-info {
                        @include column;
                        align-items: flex-start;;
                    }
                }
                &-address {
                    @include tablet {
                        width: 13vh;
                    }
                }
                &-warehouse {
                    @include row;
                    color: $Instock-Indigo;
                    font-weight: 600;
                }
                &-arrow {
                    margin-left: .25rem;
                }
            }
        }
        &__actions {
            @include row;
            justify-content: space-between;
            width: 90%;

            @include tablet {
                width: 7vh;
            }
        }
    }
}