@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.warehouses {
    font-family: $fontface;
    border-radius: .2rem;
    background-color: $White;
    margin: 0 1rem;
    @include column;

        @include tablet {
            margin: 0 2rem;
        }
        @include desktop {
            max-width: 95%;
        }
    &-eq {
        width: 90%;
        @include column;
        padding: 1.6rem 0 2rem;
    }
    &-top {
        @include column;
        width: 111.2%;
        border-bottom: .09rem solid $Cloud;
        padding: 0 0 1.4rem;

        &-eq {
            width: 100%;

            @include tablet {
                @include row;
                justify-content: space-between;
                width: 90%;
            }
        }

        &__head {
            @include mobile__pagehead;
            margin: 0;
            align-self: flex-start;
            padding: 0 0 1rem 1rem;

            @include tablet {
                padding: 0;
            }
        }
        &__action {
            @include column;
            width: 100%;

            @include tablet {
                @include row;
                width: 70%;
                justify-content: space-between;
                max-width: 43.8vh;
            }

            @include desktop {
                max-width: 52vh;
            }

            &-search {
                width: 90%;
                padding: 0 0 .8rem;

                @include tablet {
                    width: 22vh;
                    padding: 0;
                }

                @include desktop {
                    width: 30vh;
                }

                &-eq {
                    width: 100%;

                    @include tablet {
                        @include row;
                    }
                }
                &-icon {
                    position: absolute;
                    left: 80%;
                    top: 6.3rem;

                    @include tablet {
                        position: relative;
                        left: 18vh;
                        top: 0;
                    }
                    @include desktop {
                        left: 25.5vh;
                    }
                }
                &-box {
                    @include mobile__field;
                    padding: .5rem 0  .5rem 1rem;
                    width: 94%;
                    font-family: $fontface;
                    height: 1rem;
                    border-color: $Cloud;
                    resize: none;
                    &:active, &:focus {
                        border-color: $Instock-Indigo;
                        outline: none;
                    }

                    @include tablet {
                        height: 1.2rem;
                        width: 100%;
                    }
                }
            }
            &-button {
                @include mobile__field;
                border: 0;
                background-color: $Instock-Indigo;
                color: white;
                @include mobile__label;
                width: 90%;
                &:hover {
                    background-color: $Graphite;
                }

                @include tablet {
                    @include tablet__field;
                    width: 20vh;
                }
            }
        }
    }
}