@use 'variables' as *;
@use "./mixins" as *;
@use 'fonts';


*, *::before, *::after {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: 'Titillium Web', Verdana, Geneva, Tahoma, sans-serif;
}

input, input::placeholder, textarea, textarea::placeholder, select {
    font-family: 'Titillium Web', Verdana, Geneva, Tahoma, sans-serif;
}
