@use "./variables" as *;

// Buttons & Fields

@mixin mobile__field {
    height: 2.25rem;
    width: 100%;
    border-radius: 1.25rem;
}

@mixin tablet__field {
    height: 2.375rem;
    padding: 0 1rem;
    border-radius: 1.25rem;
}

// Form elements

@mixin form__input {
    border: 1px solid $Cloud;
    @include mobile__body--med;
    resize: none;

    @include tablet {
        @include tablet__body--med;
    }

    &:focus {
        outline: none;
        border: 1px solid $Instock-Indigo;
    }

    &--invalid {
        outline: none;
        border: 1px solid $Red;
    }
}

@mixin form__input--small {
    box-sizing: border-box;
    padding: 0.45rem 1rem;
    border-radius: 1.25rem;
    width: 100%;
    @include form__input;
}


@mixin form__button {
    border-radius: 1.25rem;
    border: none;
    padding: 0.45rem 0.8rem;
    cursor: pointer;
    @include mobile__label;

    @include tablet {
        @include tablet__label;
    }
}

@mixin form__button--primary {
    @include form__button;
    color: $White;
    background-color: $Instock-Indigo;

    &:hover {
        background-color: $Graphite;
    }
}

@mixin form__button--secondary {
    @include form__button;
    color: $Slate;
    background-color: $White;
    border: 1px solid $Cloud;

    &:hover {
        background-color: $White;
        color: $Instock-Indigo;
        border: 1px solid $Instock-Indigo;
    }
}

@mixin form__button--delete {
    @include form__button;
    background-color: $Red;
    color: $White;

    &:hover {
        background-color: $Graphite;
    }
}

@mixin form__error-message {
    @include mobile__body--small;
    color: $Red;
    height: 1rem;

    @include tablet {
        height: 1.5rem;
    }
}

@mixin form__label {
    @include mobile__label;
    margin-bottom: 0.25rem;

    @include tablet {
        @include tablet__label;
    }
}

@mixin form__section-title {
    @include mobile__subhead;
    padding-bottom: 1.5rem;

    @include tablet {
        @include tablet__subhead;
        padding-bottom: 2rem;
    }
}

// Screen Sizes
@mixin tablet {
    @media (min-width: 768px) {
        @content;
    }
}
@mixin desktop {
    @media (min-width: 1280px) {
        @content;
    }
}

// Flex Directions
@mixin column {
    display: flex;
    flex-direction: column;
    align-items: center;
}
@mixin row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

// Text styles
@mixin mobile__pagehead {
    font-size: 1.75rem;
    line-height: 2.25rem;
    font-weight: 600;
}
@mixin mobile__subhead {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 600;
}
@mixin mobile__label {
    font-size: 0.813rem;
    line-height: 1.25rem;
    font-weight: 600;
}
@mixin mobile__tablehead {
    font-size: 0.688rem;
    line-height: 1rem;
    font-weight: 600;
}
@mixin mobile__body--large {
    font-size: 0.938rem;
    line-height: 1.625rem;
    font-weight: 400;
}
@mixin mobile__body--med {
    font-size: 0.813rem;
    line-height: 1.25rem;
    font-weight: 400;
}
@mixin mobile__body--small {
    font-size: 0.688rem;
    line-height: 1rem;
    font-weight: 400;
}
@mixin tablet__pagehead {
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: 600;
}
@mixin tablet__subhead {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
}
@mixin tablet__label {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
}
@mixin tablet__tablehead {
    font-size: 0.75rem;
    line-height: 1.25rem;
    font-weight: 600;
}
@mixin tablet__body--large {
    font-size: 1rem;
    line-height: 1.75rem;
    font-weight: 400;
}
@mixin tablet__body--med {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
}
@mixin tablet__body--small {
    font-size: 0.75rem;
    line-height: 1.125rem;
    font-weight: 400;
}