$fontface: 'Titillium Web', sans-serif;

// Primary Colors
$Instock-Black: #13182C;
$Instock-Indigo: #2E66E5;
$White: #FFFFFF;

// Secondary Colors
$Slate: #5c667e;
$Cloud: #bdc5d5;

// Background Colors
$Graphite: #232940;
$Light-Grey: #F7f8f9;

// Supporting Colors
$Green: #158463;
$Red: #c94515;
$Green-7: #f0f6f4;
$Red-7: #f8f2ef;

// Other
$shadow:  0px 2px 5px 0px rgba(19, 24, 44, 0.10);

// Spacings
$mobile-spacing: 1rem;
$tablet-spacing: 1.5rem;
$tablet-side-margin: 2rem;
$desktop-side-margin: auto;
