@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;



.main {
    background-color: $White;
    margin: 0 $mobile-spacing;
    box-shadow: $shadow;
    border-radius: 0.2rem;

    @include tablet {
        margin: 0 $tablet-side-margin;
    }

    @include desktop {
        width: 63.75rem;
        margin: 0 auto;
    }

    &__page-header {
        padding: 2rem 1.5rem 1.4rem;
        @include row;
        column-gap: 0.5rem;

        @include tablet {
            padding: 2rem $tablet-side-margin 1.4rem;
            column-gap: 0.55rem;
        }

        @include desktop {
            padding: 2rem 2.5rem 1.4rem;
        }
    }

    &__back-button {
        margin-top: 0.5rem;
    }

    &__title {
        @include mobile__pagehead;

        @include tablet {
            @include tablet__pagehead; 
        }
    }
}

.inv-add-form {
    &__middle {
        @include tablet {
            border-top: 1px solid $Cloud;
            @include row;
            padding: 1.5rem 0 0.5rem;
        }
    }

    &__fieldset {
        border: none;
        border-top: 1px solid $Cloud;
        padding: 1rem 1.5rem 0.4rem;

        @include tablet {
            border: none;
            padding: 0 $tablet-side-margin;
            flex: 1;

            &:last-child {
                border-left: 1px solid $Cloud;
            }
        }

        @include desktop {
            padding: 0 2.5rem;
        }

        & > * {
            display: block;
        }

    }

    &__legend {
        @include form__section-title;
    }

    &__label {
        @include form__label;
    }

    &__option {
        @include mobile__body--med;
        @include row;
        width: 50%;

        @include tablet {
            @include mobile__body--small;
        }
    }

    &__radio {
        margin-right: 0.5rem;
        width: auto;
    }

    &__input {
        @include form__input--small;

        &--large {

        }

        &--radio {
            padding: 0;
            border: none;
            @include row;
        }
    }

    &__error {
        @include form__error-message;
        @include row;
    }

    &__error-icon {
        width: 1rem;
        margin-right: 0.25rem;
    }

    &__bottom {
        padding: 1rem 1.5rem;
        background-color: rgba(247, 248, 249, 0.70);
        @include row;
        column-gap: 1rem;

        @include tablet {
            padding: 1rem $tablet-side-margin;
            justify-content: flex-end;
        }

        @include desktop {
            padding: 1rem 2.5rem;
        }
    }

    &__button {
        @include form__button--primary;
        flex: 1;

        @include tablet {
            flex: 0 0 auto;
        }

        &--secondary {
            @include form__button--secondary;
        }
    }
}
