@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.warehouse-delete {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100; 
    width: 100vw; 
    height: 100vh;
    

    &__content-container{
        background-color: $White;
        width: 100%;
        height: 100%;
       
        
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
        padding: 2rem;


        @include tablet {
            width: 70%; 
            height: 70%; 
            background-color: rgb(255, 255, 255); 
            padding: 1rem;
          }

        
    }

    &__header{
        @include row;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;

        }

        @include tablet {
            justify-content: space-between;
          }
    

    &__title{
        @include mobile__tablehead;
        @include row;
        align-items: center;

        @include tablet {
            @include tablet__label;
          }
    }

    &__content__text{
        @include mobile__body--med;
        padding-left: 2rem;
        padding-right: 5rem;

        @include tablet {
            @include tablet__body--med;
          }
      }

button{
  cursor: pointer;
  padding: 1rem 1rem; 
  font-weight: bold;
  border-radius: 1.25rem; 
}

.warehouse-delete__content__buttons__delete{
    @include form__button--delete

}

.warehouse-delete__content__buttons__cancel{
    @include form__button--secondary;
}

  
    
   @include tablet { 
      width: 100vw; 
      height: 100vh; 
      background-color: rgba(0, 0, 0, 0.6);
    }
  
}

  
  
  